/*Global styles*/

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap')

* {
    padding: 0px;
    margin: 0px;

}


/*Header*/
.header {
    font-family: 'Audiowide';
    color:#49fb35;
    background-color: black;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: #FF6EC7;
}
/*Main*/

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

#by-name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#by-food {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}