//colors
$color-neon-green: #49fb35;
$color-neon-pink: #FF6EC7;
$color-aqua: #52fff9;
$color-orange: #ffbc47;
$color-lime:  #bfff47;
$color-purple: #e747ff;
$color-blue: #546eff;
$color-white: #f8f8ff;
$color-dark-grey: #2f3133;
$color-light-grey: #949494;